%ul.nav.navbar-nav
  %li
    = link_to 'Dashboard', '#'
  - if admin?
    %li
      = link_to 'Murrobi', manage_murrobis_path
    %li
      = link_to 'Mamum', manage_mamums_path
    %li
      = link_to 'Surah', manage_surahs_path
    %li
      = link_to 'News', manage_news_index_path

  - if murrobi?
    %li
      = link_to 'Report Hafalan', murrobi_report_hafalans_path
%ul.nav.navbar-nav.navbar-right
  - if current_user
    %li
      = link_to current_user.email, edit_user_path
    %li.active
      = link_to 'Logout', destroy_user_session_path, method: :delete